.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 30px auto;
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 20px;
    }
    .iframe{
        width: 100%;
        height: 350px;
        padding: 10px;
    }
    .data{
        padding: 16px;
    }
    .secondBannerHead{
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        color: #1E1D25;
        margin-bottom: 10px ;
        font-family: "Raleway";
    }
    .pData{
        color: #484849;
        font-family: Raleway;
        margin-bottom: 10px;
        font-weight: 100;
    }
    .color1{
        background-color: #ddddddff;
        color: #484849;
    }
    .color2{
        background-color: #fbba14ff;
        color:#484849;
    }
    .color3{
        background-color: #7ab7b8ff;
        color:#484849;
    }
    .color4{
        background-color: #ce9278ff;
        color:#484849;
    }
    .color5{
        background-color: #134a37ff;
        color: white;
    }
    .colorSegment{
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 7px;
        width: 100%;
        height: 50%;
        font-weight: 700;
    }
    .colorSegment div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100px;
        border-radius: 15px;
        height: 200px;
        box-shadow:6px 6px 8px grey;
    }
    .colorSegment .p{
        transform: rotate(270deg);
        text-transform: uppercase;
    }
    .p{
        text-align: justify;
        margin-bottom: 10px;
    }
    @media (max-width:1127px){
        .h3{
            font-size: 25px;
        }
        .pData{
            font-size: 16px;
        }
        .grid{
    grid-template-columns: 0.8fr 1fr;
    }
    .iframe{
        height: 250px;
    }
    }
    @media (max-width:780px){
        .grid{
            grid-template-columns: 0.7fr 1fr;
            grid-gap: 10px;
        }

        .pData{
            font-size: 14px;
        }
        .section{
            margin: 15px auto;
        }

    }
    @media(max-width:721px){
        .grid{
            grid-template-columns: 0.8fr 1fr;
            grid-gap: 5px;
        }
        .iframe{
            width: 100%;
        }
        .section{
            margin: 15px 0;
            width: 100%;

        }
    }
    @media (max-width:703px){
        .section{
            margin: 0 auto;
        }
        .grid{
            grid-template-columns:1fr    ;
        }
        .iframe{
            padding: 0;
            height: 100%;
            aspect-ratio: 16/8;
        }
        .pData{
            font-size: 13px;
        }
        .colorSegment{
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    div .p{
        font-size: 13px;
    }
    }
    @media (max-width:545px){
        .section{
            margin: 0 auto;
        }
        .grid{
            grid-template-columns:1fr    ;
        }
        .iframe{
            padding: 0;
            height: 100%;
            aspect-ratio: 16/8;
        }
        .h3{
            font-size: 21px;
        }

    }
    @media (max-width:437px){

        .pData{
            font-size: 10px;
            padding-bottom: 10px;
        }
        .colorSegment{
        margin: 10px 0;
    }
    .colorSegment div{
        height: 150px;
    }
    div .p{
        font-size: 10px;
    }
    }
    @media (max-width:290px){

.section{
    width: 280px;
    overflow: hidden;
    margin: auto;
}
}